<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Curso VueJS</title>
  </head>
  <body>
    <div id="app">
      <input type="text" name="nombre" placeholder="Ingresa tu nombre" v-model="nombre">
      <p>Tu nombre en mayúsculas es: {{ nombre | upppercase }}</p>

      <form @submit.prevent="submit">
        <h2>¿Cuál es tu color favorito?</h2>
        <template v-for="color in colores">
          <input type="checkbox" v-model="coloresSeleccionados" v-bind:id="color.value" v-bind:value="color.nombre">
          <label v-bind:for="color.value">{{ color.nombre }}</label>
        </template>
        <button type="submit" name="button">Enviar</button>
      </form>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        data: {
          nombre : '',
          colores : [{
            nombre: 'Azul',
            value: 'color_azul'
          },{
            nombre: 'Rojo',
            value: 'color_rojo'
          },{
            nombre: 'Verde',
            value: 'color_verde'
          },{
            nombre: 'Amarillo',
            value: 'color_amarillo'
          }],
          coloresSeleccionados: []
        },
         filters: {
           upppercase: function (str) {
             return str.toUpperCase();
           }
         },
         methods: {
           submit: function () {
             console.log(this.coloresSeleccionados);
           }
         }
      })
    </script>
  </body>
</html>
