<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Curso VueJS</title>
  </head>
  <body>
    <div id="app">
      <input type="text" name="nombre" placeholder="Ingresa tu nombre" v-model="nombre">
      <p>Tu nombre en mayúsculas es: {{ nombre | upppercase }}</p>

      <form @submit.prevent="submit">
        <h2>¿Cuál es tu color favorito?</h2>
        <input type="checkbox" v-model="colores" id="color_rojo" value="Rojo">
        <label for="color_rojo">Rojo</label>

        <input type="checkbox" v-model="colores" id="color_verde" value="Verde">
        <label for="color_verde">Verde</label>

        <input type="checkbox" v-model="colores" id="color_azul" value="Azul">
        <label for="color_azul">Azul</label>

        <input type="checkbox" v-model="colores" id="color_amarillo" value="Amarillo">
        <label for="color_amarillo">Amarillo</label>

        <button type="submit" name="button">Enviar</button>
      </form>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        data: {
          nombre : '',
          colores : []
        },
         filters: {
           upppercase: function (str) {
             return str.toUpperCase();
           }
         },
         methods: {
           submit: function () {
             console.log(this.colores);
           }
         }
      })
    </script>
  </body>
</html>
